* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    min-height: 100vh;
}

.introduction {
    position: relative;
    background-color: #1B2430;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
    color: #F8F8F8;
    height: 57em;
    width: 54em;
    overflow: hidden;
    border-radius: 10px;
}

.introduction>h1,
h2,
a {
    z-index: 4;
}

.introduction::before {
    position: absolute;
    content: '';
    background-image: linear-gradient(#FF06B7, #CA82FF);
    width: 8.5em;
    height: 80em;
    animation: animate 5s infinite;
}

.introduction::after {
    content: '';
    position: absolute;
    inset: 0.5em;
    background-color: black;
    border-radius: 20px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

.introduction h1 {
    font-size: 4em;
    margin-bottom: 1em;
    -webkit-text-stroke: 1px #FF06B7;
}


@media(max-width:412px) {

    .introduction h1 {
        font-size: 2em;

    }

    .introduction {
        height: 40em;
        width: 24em;
    }

    .introduction :nth-child(2) {
        font-size: 0.65em;
    }

    .introduction :nth-child(3) {
        font-size: 1em;
    }
}

.play {
    position: relative;
    margin-top: 3em;
    padding: 1em 2.5em 1em 2.5em;
    font-size: 1em;
    transition: 0.5s;
    border-radius: 0.25em;
    background-color: black;
    color: #FF06B7;
    cursor: pointer;
    border: solid 1px #FF06B7;
}

.play:hover {
    background-image: linear-gradient(#CA82FF, #FF06B7);
    color: white;
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px #FF06B7;
    border: 1px solid white;
}

.play:hover::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 110%;
    left: 0;
    background-color: #CA82FF;

    transform: perspective(1em) rotateX(12deg) scale(1, 0.25);
    filter: blur(1.5em);
}

.line {
    height: 2em;
    background-color: #FF06B7;
    width: 0%;
    animation: buttonAnimation 2s linear;
    transition: 2s ease;
}

@keyframes buttonAnimation {
    100%{
        width: 150%;

    }
    
}