:root{
    --ff-color-black: black;
    --ff-color-secondary: #FF06B7;
    --ff-color-white: white;
    --ff-color-background: #200e22;
    --ff-font-size: 4em;
    --ff-font-size-player: 2.5em;
    --ff-font-main: 'Staatliches', cursive;
    --ff-font-secondary:'Space Mono', monospace;
    --ff-font-tertiary: 'Roboto', sans-serif;
}




*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.6;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--ff-color-black);
}

.game{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 57em;
    width: 54em;
    background-color: var(--ff-color-background);
    box-shadow: 0 0 45px #FF06B7 ;
        border-radius: 2em;
    
}

.gameTitle{
    position: absolute;
    color: white;
    font-size: var(--ff-font-size);
    font-family: var(--ff-font-main);
    top: 0%;
}




/*################### player info*##########################*/

.computerPlayer{
    font-family: var(--ff-font-secondary);
    font-size: var(--ff-font-size-player);
}

.userPlayer{
    font-family: var(--ff-font-secondary);
    font-size: var(--ff-font-size-player);
}

/*###############MATCH RING#$###########################*/
.matchRing{
    display: flex;
    gap: 3em;
    flex-wrap: wrap;
}
.score{
    color: white;
}

.vs{
    position: relative;
    color: white;
    z-index: 100;
    height: 10em;
    justify-content: center;
    align-items: center;
}

.vs-word{
    position: relative;
    top: 50%;
}

.player, .computer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: transparent;
    height: 10em;
    width: 15em;
    z-index: 10;
}

.computer::before{
    content: '';
    position: absolute;
    height: 10em;
    width: 15em;
    background-color: black;
    z-index: -1;
    filter: blur(56px);
}
.player::before{
    content: '';
    position: absolute;
    height: 10em;
    width: 15em;
    background-color: black;
    z-index: -1;
    filter: blur(56px);
}

.play-button{
    margin-top: 1em;
}

.choices{
    margin: 5em;
}


#outcome{
    color: white;
}

#computerScore, #playerScore{
    font-size: var(--ff-font-size);
    font-family: var(--ff-font-secondary);
}

#winner{
    color: white;
}

button{
    padding: 1em 2.5em 1em 2.5em;
    font-size: 1em;
    transition: 0.5s;
    border-radius: 0.25em;
    background-color: black;
    color: #FF06B7;
    cursor: pointer;
    border: solid 1px #FF06B7;
}

button:hover{
        background-image: linear-gradient(#CA82FF, #FF06B7);
        color: white;
        letter-spacing: 0.25em;
        box-shadow: 0 0 35px #FF06B7;
        border: 1px solid white;
}

@media(max-width:600px){
    .game{
        height: 40em;
        width: 24em;
        box-shadow: 0 0 45px #FF06B7 ;
        border-radius: 2em;
    }
    .gameTitle{
        font-size: 2em;
        color: #FF06B7;
        -webkit-text-stroke: white 0.5px;
    }

    .matchRing{
        gap: 0.5em;
        position: relative;
        top: 10%;
        display: flex;
        flex-direction: column;
    }

    #computerScore, #playerScore{
        font-size: 2em
    }

    .computer{
        
        position: relative;
        margin-top: 10em;
        width: 24em;
        display: flex;
        align-items: baseline;
        margin: 1rem;
        padding: 1rem;
        flex-direction: row-reverse;
        gap: 4em;
    }

    .player{
        position: relative;
        width: 24em;
        display: flex;
        align-items: baseline;
        margin: 1rem;
        padding: 1rem;
        flex-direction: row-reverse;
        gap: 4em;
    }

    .vs{
        position: absolute;
        left: 50%;
        top: 20%;
    }

    #winner{
        position: relative;
        top: 10%;
    }



    .computerPlayer, .userPlayer{
        font-size: 2em;
    }

    .choices{
        display: flex;
        gap: 1rem;
    }
    .gameChoice{
        font-size: 0.75em;
    }

    #try-again{
        position: relative;
        bottom: 3em;
        font-size: 1em;
    }

}
